[submodule "Leizu-elk"]
	path = Leizu-elk
	url = git@github.com:zhigui-projects/Leizu-elk.git
[submodule "Leizu-api"]
	path = Leizu-api
	url = git@github.com:zhigui-projects/Leizu-api.git
[submodule "Leizu-ui"]
	path = Leizu-ui
	url = git@github.com:zhigui-projects/Leizu-ui.git
